<<<<<<< HEAD

.input {
    display: block;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, serif;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 200;
    width: 300px;
    height: 30px;
    opacity: 1;
  }
  

=======
.input {
    display: block;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, serif;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 200;
    width: 300px;
    height: 30px;
    opacity: 1;
  }
  
>>>>>>> 2383a9fb937c39b2ecd5b1dcd817a4e408cc1d18
